// Settings for nf-test runs of the modules (integrations/nextflow/nf-test.config).
process {
    resourceLimits = [ cpus: 2, memory: 4.GB, time: 1.h ]
}

profiles {
    docker {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'
    }
    conda {
        conda.enabled = true
    }
}
